html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background: #1d1d1d;
}

.container{
    max-width: 500px;
}

input[type=text],
input[type=text]:focus{
    color:#fff;
    border:none;
    background: rgba(0,0,0,0.4);
    max-width: 500px;
}

.todos li {
    background: #d7e1e7;
}

.delete{
    cursor: pointer;
}

.delete:hover{
    font-size: 1.2em;
    color: black;
}

.filtered{
    display: none !important;
}